{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
	
	<main class="container">
		{% if messages %}
			
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>

		{% endif %}

		<div class="reset-form">
			<form action="." method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						<span class="field-label">{{ field.label_tag }}</span>
						<br>
						<span class="field-input">{{ field }}</span>
					</div>
				{% endfor %}
				<input type="submit" value="Submit">
			</form>
		</div>
	</main>

{% endblock %}