{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

	<main class="container">
		<h1>Log-In</h1>
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% else %}
		<p>Fill out your credentials to log-in.</p>
	{% endif %}

	<div class="login-form">
		

		<form action="." method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="hidden" name="next" value="{{ next }}">
			<input type="submit" value="Log-in">
		</form>
	</div>
	</main>
	
	

{% endblock %}