html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

html, body {
	height: 100%;
	width: 100%;

}

a, a:active, a:hover, a:visited, a:link {
	text-decoration: none;
	
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

.site-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: #E3E3E3;
}

.site-header {
	position: fixed;
	height: 100%;
	width: 160px;
	box-shadow: 6px 6px 23px -5px rgba(133,124,133,1);
	background-color: #111;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.logo-wrapper {
	width: 100%;
	height: 15vh;
	background-color: #F8F3F3;
	display: flex;
	align-items: center;
	justify-content: center;

}

.logo {
	height: 30px;
	width: 140px;

}

.logo img {
	height: 100%;
	width: 100%;
}

.divider {
	width: 140px;
	margin: 0 auto;
	height: 1px;
	background-color: #26567c;
}

.side-nav {
	height: 60%;
	width: 100%;
	background-color: #111;
	margin-top: 20px;
}

.nav-menu {
	position: relative;
	top: 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.nav-items {
	margin-bottom: 10px;
	width: 80%;
	height: 60px;
	border: 1px solid white;
	align-self: center;
	display: flex;
	justify-content: center;
}

.nav-links {
	padding: 10px;
	align-self: center;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	color: #D2D2CE;
}


.nav-links:hover {
	color: #ABE1E8;
}

.logout {
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome {
	align-self: center;
	font-family: 'Muli', 'sans-serif';
	font-weight: bold;
	color: #D2D2CE;
}

.username {
	align-self: center;
	margin: 0;
	padding: 0;
	color: #D2D2CE;
	font-family: 'Muli', 'sans-serif';
	font-weight: bold;
}

.logout-link {
	padding: 10px;
	align-self: center;
	color: #D2D2CE;
	font-family: 'Muli', 'sans-serif';
	font-weight: bold;
}

.logout-link:hover {
	color: #ABE1E8;
}
	
.container {
	position: absolute;
	left: 160px;
	margin: 0 10px 0 10px;
	width: calc(100% - 180px);
	
}

.header-wrapper {
	
}

.section-header {
	height: 15vh;
	display: flex;
	background-color: #F4F2F2;
	box-shadow: 6px 6px 23px -5px rgba(133,124,133,1);
}

.section-header h1 {
	padding: 10px;
	align-self: center;
	width: 50%;
	font-weight: bold;
	font-size: 2.7em;
	color: #4F4949;
}

.content-wrapper {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Start DASHBOARD and general item styles(later reused) */

.main-content {
	width: 100%;
	/*height: 50vh;*/
	background-color: #F4F2F2;
	box-shadow: 6px 6px 23px -5px rgba(133,124,133,1);
}

.secondary-content {
	margin-top: 40px;
	width: 100%;
	/*height: 50vh;*/
	background-color: #F4F2F2;
	box-shadow: 6px 6px 23px -5px rgba(133,124,133,1);
}

.main-header {
	padding: 10px;

}

.main-header-text {
	font-weight: bold;
	font-size: 1.3em;
	font-family: 'Muli', 'sans-serif';
	padding-bottom: 5px;
	color: #4F4949;
	/*border-bottom: 1px solid #111;*/
}

.country-list {
	padding: 10px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;

}

.country-item {
	/*border: 1px solid black;*/
	box-shadow: 6px 6px 23px -5px rgba(133,124,133,1);
	height: 22vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.country-flag {
	margin-top: 10px;
	height: 30%;
	width: 40%;
}

.country-flag img {
	height: 100%;
	width: 100%;
}

.country-name {
	margin-top: 5px;
	height: 20%;
}

.country-name h4 {
	font-weight: lighter;
	color: #656565;
}

.c-name-bold {
	font-weight: bold;
}

.country-detail {

	height: 20%;
}

.country-detail a {
	
	padding: 6px;
	font-family: 'Muli', 'sans-serif';
	font-weight: bold;
	color: #656565;
	border: 1px solid #4F4949;
	font-size: 0.7em;
}

.report-list {
	padding: 10px;
	width: 100%;
}

.report-item {
	padding: 10px;
	display: flex;
	align-items: center;
	box-shadow: 6px 6px 23px -5px rgba(133,124,133,1);
	border: 1px solid #4F4949;
	border-radius: 5px;
	margin-bottom: 10px;
}

.report-title {
	width: 60%;
}

.report-title h3 {
	padding: 10px;
	font-family: 'Muli', 'sans-serif';
	font-weight: lighter;
}

.report-title h3 .rep-title-text {
	font-weight: lighter;
}

.report-date {
	width: 25%;
	border-right: 1px solid #111;
	border-left:  1px solid #111;
}

.report-date p {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Muli', 'sans-serif';
}

.report-detail {
	width: 15%;
	display: flex;
	justify-content: center;
}

.report-detail a {
	color: #4F4949;
	padding: 5px;
	font-family: 'Muli', 'sans-serif';
	font-weight: bold;
}

.report-detail a:hover {
	color: #85C3CB;
	cursor: pointer;
}

/* END DASHBOARD */

/* COUNTRY_DETAIL STYLES */

.main-header-text .country-name-header {
	font-size: 2em;
	font-weight: lighter;
}



/* END COUNTRY_DETAIL */

/*   REPORT_DETAIL STYLES*/



/* END REPORT DETAIL */

/* CMS STYLES */

/* END CMS STYLES */