{% extends "base.html" %}

{% block title %}CMS Home{% endblock %}

{% block header %}
	<nav class="side-nav">
		<div class="nav-menu">
			<div class="nav-items">
				<a href="{% url "cms_home" %}" class="nav-links">CMS Home</a>
			</div>
			<div class="nav-items">
				<a href="{% url "create_report" %}" class="nav-links"> Add Report</a>
			</div>
			<div class="nav-items">
				<a href="{% url "create_country" %}" class="nav-links">Add Country</a>
			</div>
			<div class="nav-items">
				<a href="{% url "create_flash" %}" class="nav-links">Send Flash</a>
			</div>
			{% if user.profile.is_moderator or user.is_superuser %}
			<div class="nav-items">
				<a href="{% url "create_user" %}" class="nav-links">Add User</a>
			</div>
			{% endif %}
		</div>
	</nav>

{% endblock %}

{% block content %}

	<main class="container">

		<section class="header-wrapper">
			<div class="section-header">
				<h1>CMS Dashboard</h1>
			</div>
			
		</section>

		<section class="cms-home">
			
			<div class="cms-rep-list">
				
				<div class="main-header">
					<h1 class="main-header-text">Latest Reports : </h1>
				</div>
				
				{% for report in reports %}
				<div class="rep-item">
					<h3>{{ report.title|truncatechars:50 }}</h3>
					<div class="crud">
						<a href="{% url "update_report" pk=report.id %}" class="crud-links">Edit</a>
						<a href="{% url "delete_report" pk=report.id %}" class="crud-links">Delete</a>
					</div>
				</div>
				{% endfor %}
				
			</div>
			<div class="cms-co-list">
				<div class="main-header">
					<h1 class="main-header-text">Country Pages : </h1>
				</div>
				
				{% for country in countries %}
				<div class="rep-item">
					<h3>{{ country.name }}</h3>
					<div class="crud">
						<a href="{% url "update_country" pk=country.id %}" class="crud-links">Edit</a>
						<a href="{% url "delete_country" pk=country.id %}" class="crud-links">Delete</a>
					</div>
				</div>
				{% endfor %}
			</div>
			{% if user.profile.is_moderator or user.is_superuser %}
			<div class="cms-user-list">
				<div class="main-header">
					<h1 class="main-header-text">Registered Users : </h1>
				</div>
				
				{% for user in users %}
					{% if not user.profile.is_moderator or user.profile.is_publisher %}
						<div class="rep-item">
							<h3>{{ user.username }}</h3>
							<div class="crud">
								<a href="{% url "update_user" id=user.id %}" class="crud-links">Edit</a>
				
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			{% endif %}

		</section>

	</main>

{% endblock %}