{% extends "base.html" %}

{% block title %}Create New User{% endblock %}


{% block header %}
	<nav class="side-nav">
		<div class="cms-nav-menu">
			
			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3><a href="{% url 'cms_home' %}">Home</a></h3>
				</div>
				
			</div>

			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3>Reports</h3>
				</div>
				<div class="cms-nav-items">
					<a href="{% url 'report_list_cms' %}" class="cms-links">View Reports</a>
					<a href="{% url 'create_report' %}" class="cms-links">Create Report</a>
					
				</div>
			</div>
			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3>Country</h3>
				</div>
				<div class="cms-nav-items">
					<a href="{% url 'country_list_cms' %}" class="cms-links">View Countries</a>
					<a href="{% url 'create_country' %}" class="cms-links">Create Country</a>
					
				</div>
			</div>
			{% if user.is_authenticated and user.profile.is_moderator %}
			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3>Users</h3>
				</div>
				<div class="cms-nav-items">
					<a href="{% url 'user_list' %}" class="cms-links">View Users</a>
					<a href="{% url 'create_user' %}" class="cms-links">Create User</a>
					
				</div>
			</div>
			{% endif %}
		</div>
	</nav>

{% endblock %}

{% block content %}

	<main class="container">

		<section class="header-wrapper">
			<div class="section-header">
				<h1>CMS Dashboard</h1>
			</div>
			
		</section>

		<div class="create-form">
			<form action="." method="post">
				{% csrf_token %}
				
				{% for field in user_form %}
					{% for error in field.errors %}
						<div class="error">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
					<div class="form-group">
						<span class="field-label">{{ field.label_tag }}</span>
						<br>
						<span class="field-input">{{ field }}</span>
					</div>
				{% endfor %}
				{% for field in profile_form %}
					{% for error in field.errors %}
						<div class="error">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
					<div class="form-group">
						<span class="field-label">{{ field.label_tag }}</span>
						<br>
						<span class="field-input">{{ field }}</span>
					</div>
				{% endfor %}
				
				<input type="submit" value="Create New User" class="submit-btn">
			</form>
		</div>
		
	</main>

{% endblock %}