{% extends "base.html" %}

{% block title  %}Delete Report{% endblock %}

{% block recaptcha %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block header %}
	<nav class="side-nav">
		<div class="cms-nav-menu">
			
			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3><a href="{% url 'cms_home' %}">Home</a></h3>
				</div>
				
			</div>

			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3>Reports</h3>
				</div>
				<div class="cms-nav-items">
					<a href="{% url 'report_list_cms' %}" class="cms-links">View Reports</a>
					<a href="{% url 'create_report' %}" class="cms-links">Create Report</a>
					
				</div>
			</div>
			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3>Country</h3>
				</div>
				<div class="cms-nav-items">
					<a href="{% url 'country_list_cms' %}" class="cms-links">View Countries</a>
					<a href="{% url 'create_country' %}" class="cms-links">Create Country</a>
					
				</div>
			</div>
			{% if user.is_authenticated and user.profile.is_moderator %}
			<div class="cms-nav-item">
				<div class="cms-nav-item-header">
					<h3>Users</h3>
				</div>
				<div class="cms-nav-items">
					<a href="{% url 'user_list' %}" class="cms-links">View Users</a>
					<a href="{% url 'create_user' %}" class="cms-links">Create User</a>
					
				</div>
			</div>
			{% endif %}
		</div>
	</nav>

{% endblock %}

{% block content %}
	
	<main class="container">
		
		<section class="header-wrapper">
			<div class="section-header cms-header">
				<h1>Admin Dashboard</h1>
				<h1 class="nav-mob">Menu</h1>
			</div>
			
			<!-- user settings -->
			<div class="user-settings">
				<a href="/logout/" class="profile-link">
				    <i class="fa fa-sign-out fa-2x icons" aria-hidden="true"></i>
				    
				</a>
				
			</div>

			
		</section>
		
		<div class="create-form">
			
			<form action="." method="post">
				{% csrf_token %}
				<h3>Are you sure you want to delete <strong>{{object}}</strong> ?</h3>
				{% for field in form %}
					<div class="form-group">
						<span class="field-label">{{ field.label_tag }}</span>
						<br>
						<span class="field-input">{{ field }}</span>
					</div>
				{% endfor %}
				<div class="g-recaptcha" data-sitekey="6LfKXzEUAAAAAOGm7ccqmLGB0QmUdf5D0DUnFKF2"></div>
				<input type="submit" value="Delete User" class="submit-btn">
			</form>	

		</div>

	</main>


	

{% endblock %}